Give me info about your dog today

<form class="clearfix mb-4" action="POST">

<div class="form-group">
  <label for="dog-name">Which dog?</label>
  <input type="text" id="dog-name" class="form-control" aria-describedby="dog-name" placeholder="Enter Dog Name">
</div>

<div class="form-group">
  <label for="dog-happiness">How happy was your dog today?</label>
  <input type="range" id="dog-happiness" class="form-control" aria-describedby="dog-happiness" min="1" max="5">
</div>

<div class="form-group">
  <label for="dog-energy">How energetic was your dog today?</label>
  <input type="range" id="dog-energy" class="form-control" aria-describedby="dog-energy" min="1" max="5">
</div>

<div class="form-group">
  <label for="dog-appetite">How's your dog's appetite today?</label>
  <input type="range" id="dog-appetite" class="form-control" aria-describedby="dog-appetite" min="1" max="5">
</div>

<div class="form-group">
  <label for="dog-affection">How affectionate was your dog today?</label>
  <input type="range" id="dog-affection" class="form-control" aria-describedby="dog-affection" min="1" max="5">
</div>
<div class="form-group">
  <label for="dog-message">In your own words, tell me how was your dog today.</label>
  <textarea class="form-control" id="dog-message" aria-describedby="dog-message" placeholder="Enter Message"></textarea>
</div>
</form>