<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>Tell us about your dog!</h2>

        {{!-- INDEX PAGE = CREATE NEW DOG PROFILE --}}

        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="dog-name">Your Dog</label>
            <input type="text" id="dog-name" class="form-control" aria-describedby="dog-name"
              placeholder="Enter Dog Name">
          </div>
          <div class="form-group">
            <label for="dog-birthdate">Dog Birthdate</label>
            <textarea class="form-control" id="dog-birthdate" aria-describedby="dog-birthdate"
              placeholder="Enter Dog Birthdate"></textarea>
          </div>
          <div class="form-group">
            <label for="dog-sex">Dog Sex</label>
            <textarea class="form-control" id="dog-sex" aria-describedby="dog-sex"
              placeholder="Enter Dog Sex"></textarea>
          </div>
          <div class="form-group">
            <label for="dog-breed">Dog Breed</label>
            <textarea class="form-control" id="dog-breed" aria-describedby="dog-breed"
              placeholder="Enter Dog Breed"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <h3>Dogs:</h3>
        <ul id="dog-list" class="list-group">
          {{#each dogs}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="dog/{{this.id}}">{{this.dogName}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>