.list-group-item {
  line-height: 2.5;
}

body {
  background-image: url("images/background_rainbow_bones.jpg");
  background-color: aqua;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-container {
  margin: 30px;
  border-style: ridge;
  border-color: aqua;
  padding: 50px;
}

.icon-container {
  margin: 0 auto;
  padding: 30px;
  background-color: aqua;
}

.bones-container {
  display: block;
  border-style: dotted;
  border-color: navy;
  margin: 30px;
  padding: 10px;
}

.paw-container {
  display: flex;
  float: right;
}


#doghouse {
  max-height: 500px;
  max-width: 500px;
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
  float: left;

}

#button_addnewpet {
  background-image: url("Project-2/Images/bone_maroon.png");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  width: 200px;
  height: 100px;
  border: none;
  margin: 5px;
  font-style: oblique;
  color: white;
  font-size: medium;
  background-color: aqua;
  display: block;
  font-weight: bold;
}

#button_horoscope {
  background-image: url("Project-2/Images/bone_blue.png");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  width: 200px;
  height: 100px;
  border: none;
  margin: 5px;
  font-style: oblique;
  color: white;
  font-size: medium;
  background-color: aqua;
  display: block;
  font-weight: bold;
}

#button_diary {
  background-image: url("Project-2/Images/bone_pink.png");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  width: 200px;
  height: 100px;
  border: none;
  margin: 5px;
  font-style: oblique;
  color: white;
  font-size: medium;
  background-color: aqua;
  display: block;
  font-weight: bold;
}

#button_dog {
  background-image: url("Project-2/Images/paw_blue.png");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  width: 270px;
  height: 270px;
  border: none;
  font-style: oblique;
  color: white;
  font-size: medium;
  background-color: aqua;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-size: large;
  float: right;
}
